@import "reset.css";


.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.page {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.header-main-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}



/* ------------HEADER------------ */
.header {
    width: 13%;
}

.header__link-container {
    display: inline-flex;
}

.header__iconcontainer,
.header__list-item,
.header__link_social,
.header__link_menu,
.header{
    display: flex;
}

.header__link-title {
    color: #34ACA7;
}

.header,
.header__list-item {
    flex-direction: column;
}

.header__iconcontainer,
.header__link_menu,
.header__link_social {
    align-items: center;
}

.header__link_menu,
.header__list-item {
    flex-direction: row;
}

.header__social-info,
.header__link-title_social {
    font-size: 10px;
}

.header__link,
.header__social-info {
    font-style: italic;
}

.header__list-item {
    margin-bottom: 30px;
}

.header__social-title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    padding: 7px 0;
    border-bottom: 1px dashed #E5E5E5;
}

.header__link-title_menu {
    margin-left: 10px;
}

.header__link_social {
    margin-top: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 8px;
}

.header__social-info {
    line-height: 18px;
    padding: 10px 0px;
}

.header__link-title_social {
    margin-left: 5px;
}



/* ------------MAIN------------ */
.main {
    width: 82%;
}

.main,
.main__banner-block,
.main__button-container,
.main__button,
.main__form-container,
.main__form-info-container,
.main__form,
.main__card-item,
.main__card-container,
.main__card-header,
.main__card-footer {
    display: flex;
}

.main__button,
.main,
.main__card-header,
.main__card-item  {
    flex-direction: column;
}

.main__banner-title,
.main__banner-info {
    display: inline-flex;
}

.main__banner-title,
.main__banner-info,
.main__button-info,
.main__form-info {
    font-style: italic;
}

.main__button-title {
    font-size: 18px;
}

.main__banner-inner {
    width: 100%;
    position: relative;
    bottom: 15%;
}

.main__banner-image-wrapper {
    position: relative;
    padding-bottom: 50%;
}

.main__banner-block {  
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    background: url("../assets/images/baner.jpg") center / cover no-repeat;
}

.main__banner-title {
    font-size: 22px;
    padding: 14px 20px;
    background-color: #ffffff;
    color: #000000;
}

.main__banner-info {
    padding: 12px 20px;
    background-color: #000000;
    color: #ffffff;
    line-height: 18px;
}

.main__button-container {
   flex-wrap: wrap;
}

.main__button {
    padding: 20px;
    width: 25%;
    background-color: #EFF8F7;
}

.main__button:hover {
    background-color: #D9EFEC;
}

.main__button-title,
.main__button-info,
.main__link {
    color: #34ACA7;
}

.main__button-title,
.main__button-info {
    text-align: start;
}

.main__button-info {
    line-height: 18px;
    font-size: 10px;
}

.main__form-container {
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5; 
}

.main__form {
    align-items: center;
}

.main__card-image,
.main__input,
.main__button_form {
    border: 1px solid #E5E5E5;
}

.main__input {
    padding: 6px;
}

.main__button_form {
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    padding: 6px 18px;
    width: auto;
}

.main__button_form,
.main__form-info {
    margin-left: 15px;
}

.main__form-info {
    line-height: 16px;
}

.main__card-container {
    margin-top: 30px;
    flex-wrap: wrap;
}

.main__card-item {
    margin: 0 1.33%;
    margin-bottom: 30px;
    width: 23%;
}

.main__card-container .main__card-item:nth-child(4n) {
    margin-right: 0;
}

.main__card-container .main__card-item:nth-child(4n + 1) {
    margin-left: 0;
}

.main__card-image {
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.main__card-body,
.main__card-footer {
    margin-top: 10px;
}

.main__card-info {
    line-height: 20px;
}

.main__link_header {
    margin-top: 5px;
    line-height: 21px;
    font-size: 16px;
}

.main__card-date {
    color: #E5E5E5;
}

.main__card-date::after {
    content: '/';
    margin-left: 5px;
}

.main__link_footer::after {
    content: '...';
}



/* ------------FOOTER------------ */
.footer__license,
.footer,
.footer__list,
.footer__social {
    display: flex;
}

.footer {
    justify-content: space-between;
}

.foooter__socials {
    align-items: center;
}

.footer__license {
    flex-direction: column;
}

.footer {
    border-top: 2px solid #E5E5E5;
    margin-top: 20px;
    padding: 20px 10px;
}

.footer__link_license {
    color: #34ACA7;
}

.footer__link_license:hover {
    text-decoration: underline;
}

.footer__link_license::after {
    color: #E5E5E5;
    content: "|";
    margin: 0 3px;
}

.footer__list li:last-child::after {
    content: " ";
    margin: 0;
}

.footer__copyright {
    color: #E5E5E5;
    margin-top: 5px;
}

.footer__icon-container {
    margin-left: 12px;
}

.footer__social .footer__icon-container:first-child {
    margin: 0;
}



/* > 992px */
@media only screen and (min-width: 992px) {
    .header__icon_menu {
        width: 26px;
    }
}


/* < 1176px */
@media only screen and (max-width: 1176px) {
    
    /* MAIN */
    .main__button_slider {
        align-items: center;
        padding: 10px 0;
        border-right: 1px solid #D6E6E6;
    }

    .main__button-container .main__button_slider:nth-child(4n) {
        border-right: none;
    }

    .main__button-title {
        font-size: 14px;
    }

    .main__button-info {
        display: none;
    }
}


/* < 992px */
@media only screen and (max-width: 992px) {

    /* HEADER n MAIN */
    .header-main-wrapper {
        flex-direction: column;
    }

    .header, .main {
        width: 100%;
    }



    /* HEADER */
    .header{
        flex-direction: row;
    }

    .header__menu-container {
        margin-right: 60px;
        width: 60%;
    }

    .header__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header__link-title_menu, .header__list-item {
        margin: 0;
    }

    .header__icon_menu {
        margin-bottom: 10px;
    }

    .header__link_menu {
        flex-direction: column;
        justify-content: flex-end;
    }

    .header {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .header__social-container {
        display: none;
    }
}


/* < 768px */
@media only screen and (max-width: 768px) {

    /* HEADER */
    .header__menu-container {
        width: 80%;
        margin: 0;
    }

    .header__icon_menu {
        display: none;
    }



    /* MAIN */
    /* banner */
    .main__button-container {
        display: none;
    }

    .main__banner-inner {
        bottom: 0;
    }

    .main__banner-title-container {
        opacity: 0.6;
    }

    .main__banner-title,
    .main__banner-info {
        padding-right: 6px;
        padding-left: 6px;
        display: block;
    }

    /* form */
    .main__form-container {
        margin-top: 40px;
        flex-direction: column;
    }

    .main__form-info-container {
        margin-bottom: 20px;
    }

    .main__form {
        justify-content: space-between;
    }

    .main__button_form {
        margin: 0;
    }

    .main__input {
        width: 80%;
    }

    /* cards */
    .main__card-item {
        width: 47%;
        margin: 0 3% 30px;
    }

    .main__card-container .main__card-item:nth-child(2n+1) {
        margin-left: 0;
    }

    .main__card-container .main__card-item:nth-child(2n) {
        margin-right: 0;
    }

    .main__card-body {
        margin-bottom: 15px;
    }

    .main__card-footer {
        margin-top: auto;
    }
}


/* < 480px */
@media only screen and (max-width: 480px) {

    .container {
        padding: 0;
    }



    /* HEADER */
    .header {
        width: 100%;
        flex-direction: column-reverse;
    }

    .header__menu-container {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }



    /* MAIN */
    /* banner */
    .main__banner-inner {
        bottom: -15%;
    }

    .main__banner-title,
    .main__banner-info {
        padding-right: 6px;
        padding-left: 6px;
    }

    /* form */
    .main__form-container {
        margin-top: 60px;
    }

    /* cards */
    .main__card-container {
        justify-content: center;
    }
    .main__card-item {
        width: 80%;
        margin: 0 0 30px;
    }
}