@import "resetstyle.css";


.container {
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.page {
    font-family: Arial, sans-serif;
}

.header-main-wrapper {
    display: flex;
    justify-content: space-between;
}



/* ------------HEADER------------ */
.header {
    display: inline-flex;
}

.header__logo-container,
.header__menu-item,
.header__link_socials,
.header__link_nav {
    display: flex;
}

.header__menu-item,
.header__link-container {
    color: #34ACA7;
}

.header,
.header__menu-item {
    flex-direction: column;
}

.header__logo-container,
.header__link_nav,
.header__link_socials {
    align-items: center;
}

.header__link_nav,
.header__menu-item {
    flex-direction: row;
}

.header__socials-description,
.header__link-socials-title {
    font-size: 10px;
}

.header__link,
.header__socials-description {
    font-style: italic;
}

.header__menu-item {
    margin-bottom: 30px;
}

.header__menu-logo {
    width: 26px;
}

.header__socials-title {
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    padding: 7px 0;
    border-bottom: 1px dashed #E5E5E5;
}

.header__menu-title {
    margin-left: 10px;
}

.header__link_socials {
    margin-top: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 8px;
}

.header__socials-description {
    max-width: 135px;
    word-wrap: break-word;
    line-height: 18px;
    padding: 10px 0px;
}

.header__link-socials-title {
    margin-left: 5px;
}



/* ------------MAIN------------ */
.main__banner-demonstration {
    display: flex;
}

.main__banner-demonstration {
    height: 445px;
    width: 896px;
    background: url("../assets/images/baner.jpg") center / cover no-repeat;
}