.aside {
    max-width: 140px;
    min-width: 140px;

    &__inner {
        @include flex-dir(column);
    }
}


// Media
@include _992 {
    .aside {
        max-width: 100%;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 30px;

        &__inner {
            flex-direction: row;
            
            @include flex-pos(space-between, center);
        }
    }
}

@include _768 {
    .aside {
        margin-bottom: 20px;
    }   
}