.nav {
    flex-wrap: wrap;

    @include flex-dir(column);

    &__link {
        position: relative;
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 50px;
        font-style: italic;

        @include flex-pos(flex-start, center);
    }
}

@each $order in (1, 2, 3, 4, 5) {
    .nav__link--#{$order}::before {
        content: url("../assets/icons/nav-icon-#{$order}.svg");
        position: absolute;
        left: 0;
    }
}


// Media 
@include _992 {
    .nav {
        flex-direction: row;
        padding-right: 30px;

        &__link {
            margin: 0;

            @include flex-dir(column);
            @include flex-pos(center, center);

            &::before {
                position: relative;
                margin-bottom: 10px;
            }
        }
    }
}

@include _768 {
    .nav {
        width: 100%;
        padding-right: 0;
        padding-left: 20px;

        @include flex-pos(space-between, center);

        &__link {
            padding: 0;

            &::before {
                display: none;
            }
        }
    }
}

@include _480 {
    .container {
        padding: 0;
    }

    .aside {
        margin: 0;
        padding: 30px 0;

        &__inner {
            flex-direction: column-reverse;
        }

        &__logo {
            margin-top: 30px;
        }
    }

    .nav {
        padding: 0 20px;

        &__link {
            padding: 0;
        }
    }
}