.socials {
    
    &,
    &__item {
        @include flex-dir(column);
    }

    &__item {

        &:last-child button:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        text-transform: uppercase;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 12px;

        @include border(border-bottom, 1px, dashed, $smokie, 0);
    }

    &__text,
    &__btn {
        font-style: italic;
        font-size: 10px;
    }

    &__text {
        padding-bottom: 10px;
        line-height: 18px;
    }

    &__btn {
        position: relative;
        padding: 8px;
        margin-bottom: 10px;
        background-color: $white;
        transition: .2s;

        &-title {
            margin-left: 5px;
        }

        & i {
            font-size: 16px;
        }

        &:hover {
            background-color: $primary;
            color: $white;
            border-color: $primary;
        }

        @include flex-pos(flex-start, center);
        @include border(border, 1px, solid, $smokie, 5px);
    }

    &__icon {
        position: absolute;
    }
}