.cards {
    margin-top: 30px;

    &__inner {
        flex-wrap: wrap;
    }
}

.cards__inner,
.card__footer {
    display: flex;
}

.card {
    width: 23%;
    margin-right: 2.66%;

    @include flex-dir(column);

    &:nth-child(n+4) {
        margin-top: 20px;
    }

    &:nth-child(4) {
        margin: 0;
    }

    &:nth-child(4n) {
        margin-right: 0;
    }

    &__header, 
    &__body,
    &__img {
        margin-bottom: 10px;
    }

    &__text {
        line-height: 20px;
    }

    &__img {
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));

        @include border(border, 1px, solid, $smokie, 0);
    }

    &__date {
        color: $smokie;

        &::after {
            content: "/";
            margin-left: 5px;
        }
    }

    &__link {

        &--title {
            font-size: 16px;
            line-height: 20px;
        }

        &--more {

            &:hover {
                text-decoration: underline;
            }

            &::after {
                content: "...";
            }
        }
    }
}


// Media
@include _768 {
    .card {
        position: relative;
        width: 47%;
        margin-right: 6%;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n+2) {
            margin-top: 20px;
        }

        &:nth-child(2) {
            margin-top: 0;
        }

        &__footer {
            margin-top: auto;
        }
    }
}

@include _480 {
    .cards {
        padding: 0 40px;
    }

    .card {
        margin: 0;
        width: 100%;

        &:nth-child(n+2) {
            margin-top: 40px;
        }
    }
}