.slider {

    &__img {
        width: 100%;

        & img {
            object-fit: cover;
            max-height: 450px;
        }
    }

    &__inner {
        position: relative;
    }

    &__text-container {
        width: 100%;
        bottom: 15%;
        position: absolute;

        @include flex-dir(column);
    }

    &__title {

        @include font($font-family-arial, $font-weight-normal, 22px, italic, $dark, 22px);

        & span {
            background-color: $white;
        }
    }

    &__subtitle {
        
        color: $white;

        & span {
            background-color: $dark;
        }
    }

    &__title,
    &__subtitle {
        display: inline-flex;
    }

    &__title span,
    &__subtitle span{
        font-style: italic;
        padding: 15px 25px;
    }
}


// Media
@include _768 {
    .slider {

        &__text-container {
            bottom: 0;
        }

        &__title span,
        &__subtitle span{
            width: 100%;
        }

        &__title span {
            padding-left: 10px;
            opacity: 0.6;
        }
    }
}

@include _480 {

    .slider {

        &__text-container {
            bottom: -10%;
        }

        &__title span,
        &__subtitle span {
            padding: 10px 0;
            padding-left: 5px;
        }

        &__img {
            overflow: hidden;

            & img {
                object-fit: contain;
                min-width: 480px;
            }
        }
    }
}