.slider {

    &__img {
        width: 100%;
    }

    &__inner {
        position: relative;
    }

    &__text-container {
        bottom: 15%;
        position: absolute;

        @include flex-dir(column);
    }

    &__title {

        @include font($font-family-arial, $font-weight-normal, 22px, italic, $dark, 22px);

        & span {
            background-color: $white;
        }
    }

    &__subtitle {
        
        color: $white;

        & span {
            background-color: $dark;
        }
    }

    &__title,
    &__subtitle {
        display: inline-flex;
    }

    &__title span,
    &__subtitle span{
        font-style: italic;
        padding: 15px 30px;
    }
}