.form,
.subscribe,
.subscribe__text
 {
    @include flex-pos(space-between, center);
}

.subscribe {
    width: 100%;
    margin-top: 30px;
    padding: 10px 15px;

    @include border(border-top, 1px, dashed, $smokie, 0);
    @include border(border-bottom, 1px, dashed, $smokie, 0);

    &__text {
        position: relative;
        padding-left: 50px;
        max-width: 65%;
        font-style: italic;
        line-height: 16px;

        &::before {
            content: url("../assets/icons/mail-icon.svg");
            position: absolute;
            left: 0;
        }
    }
}

.form {
    margin-left: 8px;

    &__input,
    &__btn {
        font-size: 10px;
        line-height: 10px;
        @include border(border, 1px, solid, $smokie, 0);
    }

    &__input {
        margin-right: 20px;
        padding: 6px;
    }

    &__btn {
        text-align: center;
        padding: 7px 18px;
        background-image: $smokie-gradient;
        border-radius: 2px;

        &:hover {
            background-image: $smokie-gradient-active;
        }
    }
}


// Media
@include _768 {
    .subscribe { 
        margin-top: 50px;
    }
}

@include _480 {
    .subscribe {
        margin-top: 60px;
        flex-direction: column;

        &__text {
            align-items: flex-start;
            max-width: 100%;
            margin-bottom: 10px;
        }
    }

    .form {
        width: 100%;
        margin: 0;

        &__input {
            margin: 0;
            width: 90%;
        }
    }
}

@include _350 {
    .form {
        flex-direction: column;

        @include flex-pos(center, flex-start);

        &__input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}