.tabs {
    display: flex;
    flex-wrap: wrap;
    
    &__btn {
        width: 25%;
        padding: 25px;
        text-align: start;
        background-color: $light;
        transition: background-color .2s linear;

        &:hover {
            background-color: $light-active;
        }

        &:not(:nth-child(4n)) {
            @include border(border-right, 1px, solid, $white, 0);
        }
    }

    &__title,
    &__subtitle {
        display: inline-block;
        line-height: 18px;
    }

    &__title {
        font-size: 18px;
    }

    &__subtitle {
        font-size: 10px;
        font-style: italic;
    }
}


// Media
@include _1176 {
    .tabs {

        &__btn {
            padding: 10px 0;
            text-align: center;

            &:not(:nth-child(4n)) {
                @include border(border-right, 1px, solid, $tabs-border, 0);
            }

            &:not(:nth-child(4n+1)) {
                @include border(border-left, 1px, solid, $white, 0);
            }
        }

        &__title {
            font-size: 14px;
        }

        &__subtitle {
            display: none;
        }
    }
}

@include _768 {
    .tabs { 
        display: none;
    }
}