@import "nullstyle.css";


.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-item {
  display: flex;
}



/* --------ASIDE and MAIN-------- */
.main-aside-wrapper {
  justify-content: space-between;
}



/* --------ASIDE-------- */
.aside {
  flex-basis: 42%;
}

.aside__inner {
  flex-direction: column;
}

.aside__logo {
  width: 120px;
  height: 120px;
}

.aside__menu-logo {
  width: 30px;
  height: 30px;
}

.aside__menu-item {
  align-items: center;
  padding-bottom: 35px;
}

.aside__socials-caption {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #E5E5E5;
}

.aside__socials-text, .aside__link_socials-block  {
  margin-top: 15px;
}

.aside__socials-logo {
  width: 16px;
  height: 14px;
}

.aside__socials-block {
  flex-direction: column;
}

.aside__link_socials-block {
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}



/* --------MAIN-------- */
.main {
  margin-left: 35px;
}

/* baner */
.main__baner {
  height: 445px;
  background: url("../images/main/baner.jpg") center / cover no-repeat;
  align-items: flex-end;
}

.main__banner-captions {
  position: relative;
  bottom: 15%;
}

.main__banner-block {
  padding: 10px 15px;
}

.main__banner-block_top {
  display: inline-block;
  background-color: white;
}

.main__banner-block_bottom {
  color: white;
  background-color: black;
}

/* tabs */
.main__tabs-item {
  background: #EFF8F7;
  padding: 20px;
  flex-direction: column;
  flex:1 1 auto;
}

.main__tabs-item_active {
  background: #D9EFEC;
}

/* subscribe box */
.main_mail-logo {
  width: 32px;
  height: 26px;
}

.main__subcribe-box {
  margin: 30px 0;
  justify-content: space-between;
  border-bottom: 1px dashed #E5E5E5;;
  border-top: 1px dashed #E5E5E5;
}
.main__subscribe-item {
  margin: 10px 15px;
}

.main__subscribe-item input {
  border: 1px solid #E5E5E5;
}

.main_mail-logo, 
.main__subscribe-item input {
  margin-right: 10px;
}

/* information block */
.information-block__item {
  width: 22%;
  flex-direction: column;
}

.information-block__image-wrapper {
  border: 1px solid #E5E5E5;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.information-block__image-wrapper img {
  width: 100%;
}

.information-block {
  justify-content: space-between;
}



/* --------FOOTER-------- */
.footer {
  margin-top: 40px;
  border-top: 2px solid #E5E5E5;
}

.footer__inner {
  padding: 25px 10px;
  justify-content: space-between;
}

.footer__item_left {
  flex-direction: column;
}

.vertical-hr {
  border-right: 1px solid #E5E5E5;
  margin: 0 5px;
}

.footer__logo {
  width: 32px;
  height: 26px;
}

.footer__item_right a:nth-child(2) {
  margin: 0 11px;
}