@import "nullstyle.css";



/* --------GENERAL-------- */
.page {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-item {
  display: flex;
}

:root {
  --main-text-color: #34ACA7;
}

.main__tabs button,
.aside__menu .aside__link,
.aside__socials .aside__link,
.information-block__header,
.information-block__footer a,
.footer__item_top a {
  color: var(--main-text-color);
}

.footer__item_top a:hover,
.information-block__footer a:hover {
  text-decoration: underline;
}

.aside .aside__link,
.aside__socials-text,
.main__banner-block_top,
.main__banner-block_bottom,
.main__tabs-item-description,
.main__subcribe-box .main__subscribe-item:first-child span {
  font-style: italic;
}



/* --------ASIDE and MAIN-------- */
.main-aside-wrapper {
  margin-top: 40px;
  justify-content: space-between;
}



/* --------ASIDE-------- */
.aside {
  flex-basis: 45%;
}

.aside__inner {
  flex-direction: column;
}

.aside__logo {
  width: 120px;
  height: 120px;
}

.aside__menu-logo {
  width: 30px;
  height: 30px;
}

.aside__menu-item {
  align-items: center;
  padding-bottom: 35px;
}

.aside__socials-caption {
  font-family: Verdana, sans-serif;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #E5E5E5;
}

.aside__menu .aside__link {
  margin-left: 10px;
}

.aside__socials-text, .aside__link_socials-block  {
  margin-top: 15px;
}

.aside__socials-logo {
  width: 16px;
  height: 14px;
}

.aside__socials-block {
  flex-direction: column;
}

.aside__link_socials-block {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.aside__socials-text,
.aside__link_socials-block {
  font-size: 10px;
}

.aside__socials-text {
  line-height: 2em;
}



/* --------MAIN-------- */
.main {
  margin-left: 35px;
}

/* baner */
.main__baner {
  height: 445px;
  background: url("../images/baner.jpg") center / cover no-repeat;
  align-items: flex-end;
}

.main__banner-captions {
  position: relative;
  bottom: 15%;
}

.main__banner-block {
  padding: 10px 15px;
  display: inline-block;
}

.main__banner-block_top {
  font-size: 22px;
  background-color: white;
}

.main__banner-block_bottom {
  color: white;
  background-color: black;
}

/* tabs */
.main__tabs {
  flex-wrap: wrap;
}

.main__tabs-item {
  background: #EFF8F7;
  padding: 20px;
  flex-direction: column;
  flex:1 1 auto;
}

.main__tabs-item:hover {
  background: #D9EFEC;
}

.main__tabs-item-caption {
  font-size: 18px;
}

.main__tabs-item-description {
  line-height: 19px;
  font-size: 10px;
}

/* subscribe box */
.main__mail-logo {
  max-width: 30px;
  min-width: 30px;
  height: 26px;
}

.main__subcribe-box .main__subscribe-item:first-child span {
  line-height: 16px;
}

.main__subcribe-box {
  margin: 30px 0;
  justify-content: space-between;
  border-bottom: 1px dashed #E5E5E5;;
  border-top: 1px dashed #E5E5E5;
}

.main__subscribe-item {
  align-items: center;
  margin: 10px 15px;
}

.main__subscribe-item input {
  border: 1px solid #E5E5E5;
  padding: 0 5px;
}

.main__mail-logo, 
.main__subscribe-item input {
  margin-right: 15px;
}

.main__subscribe-item button {
  padding: 5px 15px;
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
}

/* information block */
.information-block {
  flex-wrap: wrap;
}

.information-block__item {
  flex-basis: 23%;
  flex-direction: column;
}

.information-block__image-wrapper {
  border: 1px solid #E5E5E5;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.information-block__header {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.information-block__body {
  line-height: 20px;
  margin-bottom: 15px;
}

.information-block__date {
  color: #E5E5E5;
}

.information-block__date::after {
  content: "/";
}

.information-block__link::after {
  content: "...";
}

.information-block__image-wrapper img {
  width: 100%;
}

.information-block {
  justify-content: space-between;
}



/* --------FOOTER-------- */
.footer {
  margin-top: 40px;
  border-top: 2px solid #E5E5E5;
}

.footer__inner {
  padding: 25px 10px;
  justify-content: space-between;
}

.footer__block_left {
  flex-direction: column;
}

.vertical-hr::after{
  margin: 0 5px;
  content: "|";
  color: #E5E5E5;
}

.footer__logo_twitter {
  width: 32px;
  height: 26px;
}

.footer__logo_facebook {
  width: 16px;
  height: 32px;
}

.footer__logo_rss {
  width: 32px;
  height: 32px;
}

.footer__block_right {
  align-items: center;
}

.footer__block_right a:nth-child(2) {
  margin: 0 11px;
}

.footer__item_top {
  margin-bottom: 7px;
}