.footer {
    margin-top: 50px;
    
    &__inner {
        padding: 30px 10px;

        @include flex-pos(space-between, center);
        @include border(border-top, 2px, solid, $smokie, 0);
    }
}

// Media
@include _480 {
    .footer {
        padding: 0 20px;
    }
}