.footer {

    &__info {
        @include flex-dir(column);
    }

    &__list {
        display: flex;
        margin-bottom: 5px;

        &-item {
            display: flex;

            &:not(:last-child)::after {
                content: "";
                display: block;
                margin: 0 5px;

                @include border(border-right, 1.5px, solid, $smokie, 0);
            }
        }
    }

    &__link{
        font-size: 12px;
        line-height: 12px;

        &:hover{
            text-decoration: underline;
        }

        &:last-child .footer__icon {
            margin-right: 0;
        }
    }
}