// General
@import 'commons/general';

// Aside
@import 'commons/aside/general';
@import 'commons/aside/nav';
@import 'commons/aside/socials';

// Main
@import 'commons/main/general';
@import 'commons/main/slider';
@import 'commons/main/tabs';
@import 'commons/main/subscribe';
@import 'commons/main/cards';

// Footer
@import 'commons/footer/general';
@import 'commons/footer/info';
@import 'commons/footer/icons';