$primary: #34ACA7 !default;
$light: #EFF8F7 !default;
$light-active: #D9EFEC !default;
$smokie: #E5E5E5 !default;
$smokie-gradient: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
$smokie-gradient-active: linear-gradient(180deg, #BBB9B9 0%, #F4F3F3 100%);
$dark: #000000 !default;
$white: #ffffff !default;